<h1><%= t('user_mailer.invite_user.welcome') %></h1>
<p>Hello <%= @user.name %>,</p>
<p> <%= t('user_mailer.invite_user.body') %></p>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Password: <%= @user.password %></li>
  <li>Role: <%= @user.role.name %></li>
  <p><%= link_to t('user_mailer.invite_user.edit_account'), edit_user_registration_url(@user, host: "#{@organization.subdomain}.#{APP_HOST}", port: 3000) %></p>
</ul>