<div class="container mt-4 table-responsive">
  <% if @issues.empty? %>
    <div class="min-vh-100 d-flex align-items-center justify-content-center ">
      <img src="<%= asset_path('no_record_found.gif') %>" alt="No data found" class="img-fluid">
    </div>
  <% else %>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col"><%= t('title') %></th>
          <th scope="col"><%= t('project.project_manager') %></th>
          <th scope="col"><%= t('project_name') %></th>
          <th scope="col"><%= t('issue_assignee') %></th>
          <th scope="col"> <%= t('complexity_point') %> </th>
          <th scope="col"> <%= t('label.state') %> </th>
          <th scope="col"><%= t('actions') %></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @issues.find_each do |issue| %>
          <tr>
            <td><%= issue.title %></td>
            <% if issue.project.project_manager.present? %>
              <td><%= issue.project.project_manager.name %></td>
            <% else %>
              <td><%= t('not_assigned') %></td>
            <% end %>  
            <td><%= issue.project.title %></td>
            <% if issue.assignee %>
              <td><%= issue.assignee&.name %></td>
            <% else %>
              <td><%= t('not_assigned') %></td>
            <% end %>
            <td><%= issue.complexity_point %></td>
            <td><%= issue.state.humanize %></td>

              <td>
                <% if can?(:read, Issue) %>
                  <%= link_to project_issue_path(issue.project, issue), class: 'btn btn-primary btn-sm', title: 'Show', data: { toggle: 'tooltip' } do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                <% end %>

                <% if can?(:edit, Issue) && (current_user.role.name == "general_user"? issue.assignee_id == current_user.id : true) %>
                  <%= link_to edit_project_issue_path(issue.project, issue), class: 'btn btn-warning btn-sm', title: 'Edit', data: { toggle: 'tooltip' } do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                <% end %>

                <% if can?(:destroy, Issue) %>
                  <%= link_to project_issue_path(issue.project, issue), method: :delete, data: { confirm: t('confirm_delete_with_details'), toggle: 'tooltip' }, class: 'btn btn-danger btn-sm', title: 'Delete' do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @issues, renderer: BootstrapPaginationRenderer %>
  <% end %>
</div>

<script>
  // Initialize Bootstrap tooltips
  document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  });
</script>

