<%= form_with model: project do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% project.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% project.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :project_manager_id, "Project Manager" %><br>
    <%= form.select :project_manager_id, options_from_collection_for_select(@project_managers, 'id', 'name', project.project_manager_id) %>
  </div>

  <div>
    <%= form.label :admin_id, "Admin" %><br>
    <%= form.select :admin_id, options_from_collection_for_select(@project_managers, 'id', 'name', project.admin_id) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
