<%= form_with model: project, local: true, html: { class: 'needs-validation', novalidate: true } do |form| %>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-4 mb-4">
    <li class="breadcrumb-item"><%= link_to t('project.header'), projects_path %></li>
    <% if @project.persisted? %>
      <li class="breadcrumb-item"><%= link_to @project.title, project_path(@project) %></li>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page"><%= t(@project.new_record? ? 'project.create' : 'project.edit') %></li>
  </ol>
</nav>
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control', required: true %>
    <% project.errors.full_messages_for(:title).each do |message| %>
      <div class="invalid-feedback d-block "><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control', rows: 3, required: true %>
    <% project.errors.full_messages_for(:description).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :project_manager_id, "Project Manager", class: 'form-label' %>
    <%= form.select :project_manager_id, options_from_collection_for_select(@project_managers, 'id', 'name', project.project_manager_id), {}, { class: 'form-select', required: true } %>
    <% project.errors.full_messages_for(:project_manager).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3 text-center">
    <%= form.submit t(@project.new_record? ? 'project.create' : 'project.edit'), class: 'btn btn-primary', style: 'width: 50%;' %>
</div>
<% end %>