<div class="container mt-4 p-4 bg-light">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4 mb-4">
      <li class="breadcrumb-item"><%= link_to t('project.header'), projects_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @project.title %></li>
    </ol>
  </nav>

  <!-- Project Details Card -->
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="card-title mb-0"><%= @project.title %></h1>
      <div class="d-flex justify-content-end">
        <%= link_to edit_project_path(@project), class: 'btn btn-warning me-2' do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= button_to project_path(@project), method: :delete, data: { confirm: t('confirmation_message') }, class: 'btn btn-danger me-2' do %>
          <i class="bi bi-trash"></i>
        <% end %>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('issues.header') %>
          </button>
          <ul class="dropdown-menu">
            <% if @project.project_manager.nil? %>
              <li><%= link_to t('issue.create'), new_project_issue_path(@project), class: 'dropdown-item disabled' %></li>
            <% else %>
              <li><%= link_to t('issue.create'), new_project_issue_path(@project), class: 'dropdown-item' %></li>
            <% end %>
            <li><%= link_to t('issue.show'), project_issues_path(@project), class: 'dropdown-item' %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="lead fw-bold"><%= t('project.description') %></p>
      <p class="text-muted"><%= @project.description %></p>

      <p class="lead fw-bold"><%= t('project.project_manager') %></p>
      <% if @project.project_manager.present? %>
        <p class="text-muted"><%= @project.project_manager.name %></p>
      <% else %>
        <p class="text-muted"><%= t('project.no_project_manager_assigned') %></p>
      <% end %>

      <p class="lead fw-bold"><%= t('project.admin') %></p>
      <p class="text-muted"><%= @project.admin.name %></p>
    </div>
  </div>

  <!-- Users Table with Scroll Bar -->
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3><%= t('project.users') %></h3>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">
        <i class="bi bi-plus-circle me-2"></i><%= t('project.add_user') %>
      </button>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><%= t('project.name') %></th>
              <th scope="col"><%= t('project.email') %></th>
              <th scope="col"><%= t('project.actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @project_general_users.each_with_index do |user, index| %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                  <%= link_to remove_user_project_path(@project, user_id: user.id), method: :delete, class: 'btn btn-danger btn-sm' do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal for Adding Users -->
  <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel"><%= t('project.add_user_to_project') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if @organization_general_users.empty? %>
            <p class="badge bg-secondary"><%= t('project.no_users_exist') %></p>
          <% else %>
            <%= form_with url: add_user_project_path(@project), method: :post, local: true do |form| %>
              <div class="mb-3">
                <%= form.select 'to_be_added_users', options_from_collection_for_select(@organization_general_users, 'id', 'name'), {}, { multiple: true, class: 'form-select js-multiple-select', style: "width: 100%" } %>
              </div>
              <div class="mb-3">
                <%= form.submit t('project.add_users'), class: 'btn btn-primary' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function() {
    $('.js-multiple-select').select2({
      placeholder: "<%= t('project.select_users') %>",
      allowClear: true,
      tags: true,
      width: 'resolve',
      language: {
        noResults: function() {
          return "<%= t('project.no_users_to_show') %>";
        }
      },
      escapeMarkup: function(markup) {
        return markup;
      }
    });

    // Functionality to remove selected users
    $('.js-multiple-select').on('select2:unselect', function(e) {
      var unselected_id = e.params.data.id;
      $(this).find('option[value="'+unselected_id+'"]').remove();
    });
  });
</script>
