<%= form_with(model: @user, url: @user.persisted? ? user_path(@user) : user_index_path, local: true) do |form| %>
  <% if current_user.role.name == 'owner' && @user.persisted? %>
    <div class="form-group mb-3">
      <%= form.label :organization_name, t('organization_name'), class: "form-label" %>
      <%= form.text_field :organization_name, value: @organization.name, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <%= form.label :name, "#{t('name')} <span class='text-danger'>*</span>".html_safe, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: !@user.persisted? %>
  </div>

  <div class="form-group mt-2 mb-3">
    <%= form.label :email, "#{t('email')} <span class='text-danger'>*</span>".html_safe, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", required: !@user.persisted? %>
  </div>

  <% if @user.new_record? %>
    <div class="form-group mb-3">
      <%= form.label :password, "#{t('password')} <span class='text-danger'>*</span>".html_safe, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", required: true %>
    </div>

    <div class="form-group mb-2">
      <%= form.label :password_confirmation, "#{t('password_confirmation')} <span class='text-danger'>*</span>".html_safe, class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control", required: true %>
    </div>
  <% else %>
    <div class="form-group mb-3">
      <%= form.label :password, t('password'), class: "form-label" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group mb-2">
      <%= form.label :password_confirmation, t('password_confirmation'), class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
  <% end %>

  <% if @user.new_record? %>
    <div class="form-group mb-3">
      <%= form.label :role_id, "#{t('role')} <span class='text-danger'>*</span>".html_safe, class: "form-label" %>
      <%= form.select :role_id, options_for_select([['Select Role', '']] + @roles.map { |role| [role.name.humanize, role.id] }, @user.role_id), {}, class: "form-select", required: !@user.persisted? %>
    </div>
  <% end %>

  <%= form.hidden_field :organization_id, value: @organization.id %>

  <div class="actions mb-3 text-center">
    <%= form.submit class: "btn btn-primary", style: 'width: 50%;' %>
  </div>
<% end %>