<div class="container mt-5 p-4 bg-light w-25">
  <h2 class="text-center"><%= t('forgot_password') %></h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email, "#{t('email')} <span class='text-danger'>*</span>".html_safe, class: 'form-label' %>
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", required: true %>
    </div>

    <div class="mb-3 text-center">
      <%= f.submit t('send_reset_password_instructions'), class: 'btn btn-primary px-3 py-2' %>
    </div>
  <% end %>
</div>