  <div class="wrapper">
    <div class="logo">
      <%= image_tag 'TT logo.png', alt: 'TicketTask' %>
    </div>
    <div class="text-center mt-4 mb-4 name">
      <%= t('organization.create_org') %>
    </div>
    <%= form_with model: @organization do |form| %>
      <div class="form-field d-flex align-items-center">
        <%= form.text_field :name, class: "form-control", placeholder: t('name') %>
      </div>
      <div class="form-field d-flex align-items-center">
        <%= form.text_field :subdomain, class: "form-control", placeholder: t('subdomain') %>
      </div>
      <%= form.submit t('organization.create.title'), class: "btn mt-3" %>
    <% end %>
  </div>

