<!DOCTYPE html>
<html>
  <head>
    <title>TicketingTask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Include Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% type = (type == 'notice' ? 'success' : (type == 'alert' ? 'danger' : type)) %>
      <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert" style="width: 100%;">
        <%= message %>
      </div>
    <% end %>

    <% unless request.path.start_with?('/organizations', '/users/sign_up', '/users/sign_in', '/users/sign_out') %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= yield %>
  </body>
</html>
