<!DOCTYPE html>
<html>
  <head>
    <title>TicketingTask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% type = 'success' if type == 'notice' %>
      <% type = 'danger' if type == 'alert' %>
      <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert" style="width: 100%;">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
